<div class="vendorPageWrapper container-fluid">

	<div class="vendorContentDesktop hidden-xs hidden-sm col-xs-8">
		<div class="backVenues col-xs-12">
		  <h3><i class="fa fa-chevron-left"></i>BACK TO MORE VENUES
		  </h3>
		</div>

		<div class="vendorGallery col-xs-12">
		  <div id="myCarousel" class="carousel slide">
		    <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>
		    <!-- Carousel items -->
		    <div class="carousel-inner">
		      <div class="active item item1">…</div>
		      <div class="item item2">…</div>
		      <div class="item item3">…</div>
		    </div>
		    <!-- Carousel nav -->
		    <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
		    <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
		  </div>
		</div>
		<div class="vendorContent col-xs-12">
		  <div class="vendorContentSection">
		    <h3>
		      <span><i class="fa fa-question"></i>ABOUT</span>
		      <div class="vendorTitleDivider">
		      </div>
		    </h3>
		    <div class="vendorContentSectionBody">
		      <p>This unique venue features extraordinary views of Fifth Avenue and St. Patrick’s Cathedral from a manicured historic garden, complete with a reflective pool and fountain. The private, customizable indoor and outdoor space accommodates 165 guests for a reception and 120 for a seated meal. <br><br> Guests may experience the outdoor garden in any season; a tented section of the garden is offered year-round. The interior space is flooded with natural light from wall-to-wall windows overlooking the Prometheus statue, Rockefeller Plaza and the marquee of Radio City Music Hall.</p>
		    </div>
		  </div>
		  <div class="vendorContentSection">
		    <h3>
		      <span><i class="fa fa-cutlery"></i>FOOD & DRINK</span>
		      <div class="vendorTitleDivider">
		      </div>
		    </h3>
		    <div class="vendorContentSectionBody">
		      <div class="vendorBodyButton">
		        <button type="button"class="btn btn-primary center-block">	 <i class="fa fa-list"></i>
		        	<span>SEE MENU</span>
		        </button>
		      </div>
		      <p>This unique venue features extraordinary views of Fifth Avenue and St. Patrick’s Cathedral from a manicured historic garden, complete with a reflective pool and fountain. The private, customizable indoor and outdoor space accommodates 165 guests for a reception and 120 for a seated meal. <br><br> Guests may experience the outdoor garden in any season; a tented section of the garden is offered year-round. The interior space is flooded with natural light from wall-to-wall windows overlooking the Prometheus statue, Rockefeller Plaza and the marquee of Radio City Music Hall.</p>
		    </div>
		  </div>
		</div>
	</div>


    <div class="backVenues col-xs-12 hidden-md hidden-lg">
      <h3><i class="fa fa-chevron-left"></i>BACK TO MORE VENUES
      </h3>
    </div>

    <div class="vendorGallery col-xs-12 col-md-8 hidden-md hidden-lg">
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item item1">…</div>
          <div class="item item2">…</div>
          <div class="item item3">…</div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div> 

    <div class="vendorDescription col-xs-12 col-md-4">
      <h1 class="vendorName">
        620 Loft & Garden
      </h1>
      <h3 class="vendorScore">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <span>(23)</span>
      </h3>
	  <h3 class="vendorInfo">
	      <span>Midtown, New York</span>
	      <span>Max Capacity: 300</span>
	  </h3>
	  <div class="buttonWrapper">
      	  <button class="btn btn-secondary">
      	  	<span><i class="fa fa-clock-o"></i>Book This Venue</span>
      	  </button>
      	  <button class="btn btn-secondary" data-toggle="modal" data-target="#addFavoriteModal">
      	  	<span><i class="fa fa-heart"></i>Favorite</span>
      	  </button>
      </div>
      <div class="vendorExpandedInfo">
      	<div class="accordion" id="myAccordion">
      	    <div class="panel">
	      	    <h4 class="panel-title" data-toggle="collapse" data-target="#collapsible-1" data-parent="#myAccordion">INCLUDES<i class="fa fa-caret-down pull-right"></i></h4>
	      	    <div id="collapsible-1" class="collapse panel-content">
      	          <ul class="list-group">
      	            <li class="vendor-info-group-item"data-toggle="modal" data-target="#vendorInfoModal">
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Cake
      	            </li>
      	              <li class="vendor-info-group-item"
      	              data-toggle="modal" data-target="#vendorInfoModal" >
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Decorations
      	            </li>
      	            <li class="vendor-info-group-item" data-toggle="modal" data-target="#vendorInfoModal">
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Private Room Or Exclusive Use Of Facility
      	            </li>
      	            <li class="vendor-info-group-item" data-toggle="modal" data-target="#vendorInfoModal">
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Entertainment & Activity
      	            </li>
      	          </ul>
	      	    </div> 
      	    </div>
      	    <div class="panel">
	      	    <h4 class="panel-title" data-toggle="collapse" data-target="#collapsible-2" data-parent="#myAccordion">ADD-ONS<i class="fa fa-caret-down pull-right"></i></h4>
	      	    <div id="collapsible-2" class="collapse panel-content">
      	          <ul class="list-group">
      	            <li class="vendor-info-group-item"data-toggle="modal" data-target="#vendorInfoModal">
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Cake
      	            </li>
      	              <li class="vendor-info-group-item"
      	              data-toggle="modal" data-target="#vendorInfoModal" >
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Decorations
      	            </li>
      	            <li class="vendor-info-group-item" data-toggle="modal" data-target="#vendorInfoModal">
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Private Room Or Exclusive Use Of Facility
      	            </li>
      	            <li class="vendor-info-group-item" data-toggle="modal" data-target="#vendorInfoModal">
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Entertainment & Activity
      	            </li>
      	          </ul>
	      	    </div> 
      	    </div>     	    
      	    <div class="panel">
	      	    <h4 class="panel-title" data-toggle="collapse" data-target="#collapsible-3" data-parent="#myAccordion">POLICIES<i class="fa fa-caret-down pull-right"></i></h4>
	      	    <div id="collapsible-3" class="collapse panel-content">
      	          <ul class="list-group">
      	            <li class="vendor-info-group-item"data-toggle="modal" data-target="#vendorInfoModal">
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Cake
      	            </li>
      	              <li class="vendor-info-group-item"
      	              data-toggle="modal" data-target="#vendorInfoModal" >
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Decorations
      	            </li>
      	            <li class="vendor-info-group-item" data-toggle="modal" data-target="#vendorInfoModal">
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Private Room Or Exclusive Use Of Facility
      	            </li>
      	            <li class="vendor-info-group-item" data-toggle="modal" data-target="#vendorInfoModal">
      	              <span class="badge pull-right"><i class="fa fa-question"></i></span>
      	              Entertainment & Activity
      	            </li>
      	          </ul>
	      	    </div> 
      	    </div>       	     
      	         
      	</div>
      </div>
	</div> <!--end of Vendor Description -->
	<div class="vendorContent col-xs-12 hidden-md hidden-lg">
	  <div class="vendorContentSection">
	    <h3>
	      <span><i class="fa fa-question"></i>ABOUT</span>
	      <div class="vendorTitleDivider">
	      </div>
	    </h3>
	    <div class="vendorContentSectionBody">
	      <p>This unique venue features extraordinary views of Fifth Avenue and St. Patrick’s Cathedral from a manicured historic garden, complete with a reflective pool and fountain. The private, customizable indoor and outdoor space accommodates 165 guests for a reception and 120 for a seated meal. <br><br> Guests may experience the outdoor garden in any season; a tented section of the garden is offered year-round. The interior space is flooded with natural light from wall-to-wall windows overlooking the Prometheus statue, Rockefeller Plaza and the marquee of Radio City Music Hall.</p>
	    </div>
	  </div>
	  <div class="vendorContentSection">
	    <h3>
	      <span><i class="fa fa-cutlery"></i>FOOD & DRINK</span>
	      <div class="vendorTitleDivider">
	      </div>
	    </h3>
	    <div class="vendorContentSectionBody">
	      <div class="vendorBodyButton">
	        <button type="button"class="btn btn-primary center-block">	 <i class="fa fa-list"></i>
	        	<span>SEE MENU</span>
	        </button>
	      </div>
	      <p>This unique venue features extraordinary views of Fifth Avenue and St. Patrick’s Cathedral from a manicured historic garden, complete with a reflective pool and fountain. The private, customizable indoor and outdoor space accommodates 165 guests for a reception and 120 for a seated meal. <br><br> Guests may experience the outdoor garden in any season; a tented section of the garden is offered year-round. The interior space is flooded with natural light from wall-to-wall windows overlooking the Prometheus statue, Rockefeller Plaza and the marquee of Radio City Music Hall.</p>
	    </div>
	  </div>
	</div>

	
</div>