<footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">                    
                    <div class="footer-col connect col-xs-12">

                        <div class="footer-col-inner">
                            <ul class="social list-inline text-center">
                                <li>
                                  <a href="https://twitter.com/3rdwave_themes" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-facebook fa-stack-1x"></i>
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="https://twitter.com/3rdwave_themes" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-twitter fa-stack-1x"></i>
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="https://twitter.com/3rdwave_themes" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-pinterest fa-stack-1x"></i>
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="https://twitter.com/3rdwave_themes" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-instagram fa-stack-1x"></i>
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="https://twitter.com/3rdwave_themes" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-google fa-stack-1x"></i>
                                    </span>
                                  </a>
                                </li>     
                            </ul>
                        </div><!--//footer-col-inner-->
                        <hr>

                    </div><!--//foooter-col-->
                    <div class="footer-col links col-md-6 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Explore Bananabel</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>My Account</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>My Venues</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>My Services</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>FAQ</a></li>
                                
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->    
                    <div class="footer-col links col-md-6 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">About Us</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>Our Story</a></li>
                            
                                <li><a href="#"><i class="fa fa-caret-right"></i>
                                Contact Us</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Privacy Policy</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Terms and Conditions</a></li>
                               
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->            
                   

                    <div class="clearfix"></div> 
                </div><!--//row-->
               
            </div><!--//container-->
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ 2015 <a href="http://themes.3rdwavemedia.com/" target="_blank">Bananabel LLC</a></small>                
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->